body {
    background-color: #302E43;
}

.titletext {
    text-align: center;
}

.Big-box {
    background-color: #504361;
    width: 60%;
    height: 500px;
    padding: 10px;;
    margin: auto;
    border: #504361;
    border-radius: 10px;
    border-style: solid;
    border-width: 25px;
}

.Small-box {
    background-color: #7a3ccb;
    width: 210px;
    height: 50%;
    padding: 10px;;
    margin: 10px;
    border: #7a3ccb;
    border-radius: 10px;
    border-style: solid;
    border-width: 25px;
    float:left;
    position: inherit;
}

.profileIMG {
    clip-path: circle(50% at 50% 50%);
    max-width: 25%;
}

.profileIMG-DIV {
    top: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebookButton{
    background-color:#302E43;
    float:right;
    width: 25%;
    height: 25px;
    text-align: center;
    border: #302E43;
    border-radius: 10px;
    border-style: solid;
    border-width: 25px;
    position: relative;
    color: #ffffff;
}
.instaButton{
    background-color:#302E43;
    float:left;
    position: relative;
    width: 25%;
    height: 25px;
    text-align: center;
    border: #302E43;
    border-radius: 10px;
    border-style: solid;
    border-width: 25px;
    color: #ffffff;
}
.smallIMGbutton{

    position: absolute;
    left: 0px;
    top: 50%;
    float: left;
    width: 40px;
    transform: translateY(-50%);
    
}
.navbarhr{
    height:2px;border-width:0;
    color:#3b3b3b;
    background-color:#3b3b3b;
}

ul {
    position:relative;
    margin:10px;
}
li{
    position:relative;
    list-style-type:none;
    text-align: center;
    width: 33%;
    margin:auto;
    float:left;
    
}
a:link, a:visited {
    color: #616060;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  