body {
    background-color: #302E43;
}

.titletext {
    text-align: center;
}

.Big-box {
    background-color: #504361;
    width: 60%;
    height: 500px;
    padding: 10px;;
    margin: auto;
    border: #504361;
    border-radius: 10px;
    border-style: solid;
    border-width: 25px;
}

.profileIMG {
    clip-path: circle(50% at 50% 50%);
    max-width: 25%;
}

.profileIMG-DIV {
    top: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebookButton{
    background-color:#302E43;
    float:right;
    width: 25%;
    height: 25px;
    text-align: center;
    border: #302E43;
    border-radius: 10px;
    border-style: solid;
    border-width: 25px;
}
.instaButton{
    background-color:#302E43;
    float:left;
    width: 25%;
    height: 25px;
    text-align: center;
    border: #302E43;
    border-radius: 10px;
    border-style: solid;
    border-width: 25px;
}
.smallIMGbutton{
    float:left;
    width: 20%;
    
    
}